{% extends "base.html.twig" %}
{% block body %}
    <style>
        a{
            text-decoration: none;
            color: white;
        }
        .table{
            width: 80%;
            margin: auto;
        }
        body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        }
        html {
            height: 100%;
        }
    </style>
    <form class="form-group" method='POST'>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary"><a href='{{ path('app_livres')}}'>Retour</a></button>
        {{ form_end(form) }}
    </form>
{% endblock %}
